$purple-color: #380158;
$purple2-colo: #350053;
$purple3-color: #26003b;

$white-color: white;

$gray-color: #AFAFAF;
$gray2-color: #4A4A4A;
$gray3-color: #c9c9c9;
$gray4-color:#F7F7F7;
$gray5-color: #606060;

$green-color: #0dc74f;
$green2-color: #0FCE33;
$grenn3-color: #0aaa28;


