@import "/styles/mixins/colors.scss";
@import "/styles/mixins/padding.scss";
@import "/styles/mixins/responsive.scss";
@import "/styles/mixins/fonts.scss";

.container{
    @include Padding;    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-image: url("/images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @include Phone{
        display: block;
        text-align: justify;
        padding: 10px;
        
        
    }
}
.text{
    h1{
        @include SizeTitle;
        font-weight: bold;
    }
    p{
        @include SizeSubtitle;
        opacity: 0.7;
        padding-bottom: 15px;  
    }
    @include Phone {
        h1{
            
            font-size:40px ;
        }
    }
}
.image{
    text-align: end;

    @include Phone {
        width: 300px;
        height: 400px;
        padding-left: 25px;
    }
}
