
@import "/styles/mixins/colors.scss";
@import "/styles/mixins/responsive.scss";

.container{
    padding: 0 11.85rem;
    padding-top: 70px;
    background-color: $purple3-color;
    display: grid;
    grid-template-columns: repeat(4,1fr);

    @include Phone{
      display: none;
    }

}


.column{
    margin-top: 4rem;
    &.columnPrincipal{
        margin-top: 0px ;
    
    }
    .title{
        font-size: 29px;
        color: $white-color;
    }
    h1{
        font-size: 24px;
        color: $green2-color;
        font-weight: 600;
        padding-bottom: 7px;
    }
    p{
        font-size: 22px;
        padding-top: 7px;
    }
    &.alignRight{
        text-align: right;
    }
    .icons{
     
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        padding-top: 20px;
    
    }
     
}



.allRightReserved{
    padding: 7rem 0 2rem 0;
    font-size: 20px;
    color: $gray-color;
    grid-column: span 4;
    text-align: center;
}