@import "/styles//mixins/colors.scss";
@import "/styles/mixins/padding.scss";
@import "/styles/mixins/responsive.scss";


.container{
    @include Padding;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem 3rem;
    background-image: url("/images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10rem;

    @include Phone{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        gap: 0;
        margin-bottom: 4rem;  
        
    }
    

}

.text{
    span{
        font-size: 30px;
        font-weight: 600;
        color: $green2-color;
       
    }
    h1{
        font-size: 65px;
        font-weight: bold;

    }
    p{
        font-size: 30px;
        font-weight: 300;
        opacity: 0.7;
    }
    @include Phone{
        padding: 20px;
        span{
            font-size: 25px;
            font-weight: 300;
        }
        h1{
            font-size: 40px;
            font-weight: 500;
        }
        p{
            font-size: 20px;
            font-weight: 100;
            
        }
    }
}

.form{
    padding: 38px 31px ;
    background-color: $white-color;
    border: 0.5 solid $gray3-color ;
    border-radius: 10px;
    height: 667px;
    width: 586px;
    
    h1{
        color: $purple-color;
        font-size: 35px;
        font-weight: bold;
    }
    form{
        display: grid;
        gap: 23px;
    }
    @include Phone{
        display: grid;
        grid-template-columns: 1fr;
        width: 300px;
        height: auto;
        margin: auto;
        h1{
            font-size: 27px;
            padding: 10px 0;
        }
        form{
            gap: 10px;
        }
    }
    
}
.footer{
    grid-column-start: 2;
    text-align: center;
    font-size: 20px;
    padding: 0 1rem;
    line-height: 2rem;
    color: $gray-color;
    font-weight: 500;
    p{
        width: 606px;
        
    }
    span{
        color: $white-color;  
    }

    @include Phone{
        padding-top: 15px;
        p{
            width: 340px;
            
        }
    }
}
.none{
    text-decoration: none;
}
